/* @@@ REQUIRES MODIFICATION FOR UI REFRESH FOR X22 @@@ */

/* @@@ font updated @@@ */
td, select, textarea, input, div {
	font-family: "Segoe UI", Tahoma, Arial, Helvetica, sans-serif;
    	font-size: 11px
	font-color: #464646;
	word-break:keep-all;
	text-wrap: none;	
}


.editor th {
	padding-right: 8px;
	padding-left: 8px;
	vertical-align: middle;
	position: relative;

}

.editor td{
	padding-right: 8px;
	padding-left: 8px;
	vertical-align: middle;
	position: relative;
	border-color:  #d0d0d0;
	border-style: solid;
	border-width: thin;
	
}

.editor.measurementsEditor td, .editor.constructionsEditor td, .editor.moatableeditor td, .editor.moatableeditor th{
	position: revert;
}

.measurementsEditor td.TABLESUBHEADER,
.measurementsEditor td.TABLESUBHEADER_SPECIAL{
	padding-right: 0px;
    padding-left: 0px;
    vertical-align: middle;
}

.sample {
	padding-right: 8px;
	padding-left: 8px;
	vertical-align: top;
	background: #EEEEEE;
}

.actions, .actionsOV, .selections {
	font-family: webdings;
	/* background-color: #EEEEEE; */
	width: 1em;
	text-align: center;
	cursor: default;
}
/* @@@ Editor table outline color @@@ */
.editor {
	background: #d0d0d0;
}

.tableMenuStyle {
	cursor:default;
	font:menutext;
	position:absolute;
	text-align:left;
	font-family: Arial, Helvetica, sans-serif;
	width:120px;
	background-color:menu;
	border:1 solid buttonface;
	display:none;
	border:2 outset buttonhighlight;
}

.menuItem {
	padding-left:15px;
	padding-right:10px;
}

.arrows {
	font-family: unicode;
	background-color: #EEEEEE;
	width: 1em;
	text-align: center;
	cursor: default
}

.disabled{
	background-color: #EEEEEE;
}

.colorLinked {
	padding-right: 8px;
	padding-left: 8px;
	vertical-align: top;
	color: blue;
}

.materialLinked {
	padding-right: 8px;
	padding-left: 8px;
	vertical-align: top;
	color: blue;
}

.SECTION_BORDER  {
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-color: #6C98AC;
    padding: 0px;

}

.editor tr {
	background: white;
}

.editor tr.HIGHLIGHT_WHITE {
	background: white;
}
/* @@@ color updated @@@ */
.editor tr.HIGHLIGHT_PALEBLUE{
	background: #cddfff;
}
/* @@@ color updated @@@ */
.editor tr.HIGHLIGHT_PURPLE{
	background: #e4d6ff;
}
/* @@@ color updated @@@ */
.editor tr.HIGHLIGHT_ROSE{
	background: #ffcbcb;
}
/* @@@ color updated @@@ */
.editor tr.HIGHLIGHT_BLUE{
	background: #c5f4f4;
}
/* @@@ color updated @@@ */
.editor tr.HIGHLIGHT_PINK{
	background: #fbe1fb;
}
/* @@@ color updated @@@ */
.editor tr.HIGHLIGHT_GREEN{
	background: #cbf5b0;
}
/* @@@ color updated @@@ */
.editor tr.HIGHLIGHT_YELLOW{
	background: #ffff9a;
}
/* @@@ color updated @@@ */
.editor tr.HIGHLIGHT_ORANGE{
	background: #ffe492;
}

.editor tr.HIGHLIGHT_GRAY_TEXT_STRIKETHROUGH_RED{
    text-decoration: line-through;
    font-weight: bold;
    color: red;
    background-color: #F0F0F0;
}
.editor tr.HIGHLIGHT_GRAY_TEXT_STRIKETHROUGH_BLUE{
    text-decoration: line-through;
    font-weight: bold;
    color: blue;
    background-color: #F0F0F0;
}
.editor tr.HIGHLIGHT_GRAY_TEXT_STRIKETHROUGH_GREEN{
    text-decoration: line-through;
    font-weight: bold;
    color: green;
    background-color: #F0F0F0;
}
.editor tr.HIGHLIGHT_GRAY_TEXT_STRIKETHROUGH_ORANGE{
    text-decoration: line-through;
    font-weight: bold;
    color: orange;
    background-color: #F0F0F0;
}

.PALETTEBORDER {
    border-style: solid;
    border-width: 1px;
    border-color: white;
}
.PALETTEBORDERACTIVE {
    border-style: dashed;
    border-width: 1px;
    border-color: black;
}

.BOMEDITOROVERRIDE{
	padding-right: 8px;
	padding-left: 8px;
	vertical-align: top;
	color: green;
    font-weight: bold;
    font-style: italic;
}

.insertHighlight td, 
.insertHighlight th{
    border-bottom: 2px dashed #66CC66 !important;
}

.insertHighlight td:first-child:before,
.insertHighlight th:first-child:before{ 
    content: "";    
    position: absolute;
    background-image: url('../javascript/ext/build/packages/ext-theme-classic/build/resources/images/grid/dd-insert-arrow-right.gif');
    height: 16px;
    width: 16px;
	top: 10px;
	left: -10px;
}


.insertHighlight td:last-child:after,
.insertHighlight th:last-child:after { 
    content: "";
    background-image: url('../javascript/ext/build/packages/ext-theme-classic/build/resources/images/grid/dd-insert-arrow-left.gif');
    position: absolute;
    height: 16px;
    width: 16px;
	top: 10px;
    right: -10px;
}


.replaceHighlight td{
    border-top: 2px dashed #66CC66 !important;
	border-bottom: 2px dashed #66CC66 !important;
}

.replaceHighlight td:first-child { 
	border-left: 2px dashed #66CC66 !important;
}

.replaceHighlight td:last-child{ 
	border-right: 2px dashed #66CC66 !important;
}

.select-indicator{background-image: url('../javascript/ext/build/packages/ext-theme-classic/build/resources/images/dd/drop-yes.gif');padding:5px;padding-left:20px;white-space:nowrap;color:#000;font:normal 11px tahoma,arial,verdana,sans-serif;border:1px solid;border-color:#ddd #bbb #bbb #ddd;background-color:#fff;background-repeat:no-repeat;z-index:1}

.select-indicator-no-drop{background-image: url('../javascript/ext/build/packages/ext-theme-classic/build/resources/images/dd/drop-no.gif');padding:5px;padding-left:20px;white-space:nowrap;color:#000;font:normal 11px tahoma,arial,verdana,sans-serif;border:1px solid;border-color:#ddd #bbb #bbb #ddd;background-color:#fff;background-repeat:no-repeat;z-index:1}


tr [aria-grabbed="true"] td{
	background: #dff3d8;
}

tr [aria-grabbed="true"] td.TBLD{
    background: #dff3d8;
    background-color: #dff3d8;
}
.table-wrapper tr[aria-grabbed="true"] td.TBLD{
    background: #dff3d8;
    background-color: #dff3d8;
}

.table-wrapper tr.selectedRowConstructions td.TBLD{
    background: #dff3d8;
    background-color: #dff3d8;
}


.disable_cell:active{
	pointer-events:none;
	opacity:0.7;
}

.disable_cell:hover{
	color:lightyellow;
}